.footer {
    background: url(/skyline.jpg);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom center;
    padding: 1rem;
}

.footer ul {
    list-style: none;
    margin-top: 2rem;
}

.footerContainer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footerTitle {
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    position: relative;
}

.footerTitle::after {
    content: '';
    border-bottom: 1px solid #cccccc90;
    width: 200px;
    height: 1px;
    position: absolute;
    top: 2rem;
    left: 0;
}

.footer ul {
    font-size: 0.9rem;
    margin-left: -1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    padding: 1rem;

}

.footer__active {
    background-color: brown;
    color: #ffffff;
    padding: 0rem 0.5rem;
    margin: 0 -0.1rem 0 -0.5rem;
    border-radius: 5px;
}

.footerLeft,
.footerRight {
    display: grid;
    align-content: flex-start;
}

@media(max-width: 500px) {
    .footer ul {
        grid-template-columns: 1fr;
    }
}