.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  max-width: 400px;
}

.form input,
.form textarea {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #cccccc;
}

.form button {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #5f1515;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #691b1b;
}
