.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}

.heroSplitImage {
  margin: -0.2rem;
  position: relative;
  background-position: 0px 0px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.page__quote {
  font-size: 1.2rem;
  position: relative;
}

.page__quote::before {
  content: '';
  border-left: 4px solid #333333;
  margin-right: 2rem;
  transform: rotate(3deg);
  width: 100px;
}

.hero {
  position: relative;
  min-height: 50vh;
}

.hero__heading {
  background-color: #00000070;
  padding: 3rem 4rem 1rem 3rem;
  border-radius: 0 100% 0 0;
  position: absolute;
  bottom: 0;
}

.hero__image {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.page__heading,
.page__subHeading {
  text-shadow: 2px 3px 10px #000000;
  color: #ffffff;
  width: 80%;
}

.home {
  background: url("/hubert-gregg.jpeg");
}

.radio {
  background: url("/hubert-gregg-thanks-for-he-memory-bbc-radio-2.jpg");
}

.screenplay {
  background: url("/three-men-in-a-boat-jerome-k-jerome-read-by-hubert-gregg.jpg");
}

.autobiography {
  background: url("/maybe-its-because-hubert-gregg.jpg");
}

.music {
  background: url("/maybe-its-because-im-a-londoner-hubert-gregg-and-jack-warner.jpg");
}

.music::after {
  content: 'Hubert Gregg at the piano with Jack Warner';
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: #ffffff;
  font-size: 11px;
  transform: skewX(-10deg);
}


.writing {
  background: url("/agatha-christie-book.jpg");
  width: 50vw !important;
  max-width: 550px;
}

.movies {
  background: url("/films-hubert-gregg-as-prince-john.jpg");
}

.directing {
  background: url("/letter.jpg");
}

.directing::after {
  content: 'Letter to Hubert Gregg from Christie';
  position: absolute;
  bottom: 8px;
  right: 10px;
  color: #000000;
  font-size: 11px;
  transform: skewX(-10deg);
}

.contact__form {
  display: grid;
  place-content: center;
  padding: 3rem;
  height: 50vh;
}

@media only screen and (max-width: 700px) {
  .hero__container {
    grid-template-columns: 1fr;
  }

  .heroSplitImage {
    display: none;
  }
}