.nav {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 1rem 2rem;
    grid-gap: 2rem;
    align-items: center;
    max-width: 1200px;
}

.nav ul {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    gap: 2rem;
    list-style: none;
}

.nav img {
    cursor: pointer;
}

.active {
    background-color: brown;
    color: #ffffff;
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
}

@media(max-width:1000px) {
    .open {
        right: 0% !important;
        transition: right 1s ease;
        -webkit-transition: right 0.5s ease;
    }

    .nav img {
        display: none !important;
    }

    .nav ul {
        display: grid;
        position: absolute;
        right: -100%;
        top: 0;
        margin-block-start: auto;
        background-color: #ffffff;
        padding: 4rem 4rem 4rem;
        border-radius: 0 0 0 1rem;
        transition: right 1s ease;
        -webkit-transition: right 0.5s ease;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .nav__toggle {
        width: 57px;
        height: 74px;
        position: absolute;
        right: 0rem;
        top: 0rem;
        cursor: pointer;
        z-index: 1002;
        background: #333;
        padding: 0.5rem 0.5rem 0rem 0.6rem;
        border-radius: 0 0 0 6px;
    }

    .nav__toggle>* {
        border-bottom: 4px solid #ffffff;
        position: absolute;
        width: 50px;
        padding-top: 17px;
        margin-left: 3px;
        transition: all 500ms ease;
    }

    .nav__toggle__line:first-child {
        top: 0px;
    }

    .nav__toggle__line:nth-child(2) {
        top: 20px;
    }

    .nav__toggle__line:nth-child(3) {
        top: 40px;
    }

    .top__line {
        transform: rotate(-225deg);
        top: 36px !important;
        left: 17px;
    }

    .middle__line {
        display: none;
    }

    .bottom__line {
        transform: rotate(45deg);
        top: 24px !important;
        left: 16px;
    }
}