.nav {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 1rem 2rem;
    grid-gap: 2rem;
    align-items: center;
    max-width: 1200px;
}

.nav ul {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    gap: 2rem;
    list-style: none;
}

.nav img {
    cursor: pointer;
}

.active {
    background-color: brown;
    color: #ffffff;
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
}

@media(max-width:1000px) {
    .open {
        right: 0% !important;
        transition: right 1s ease;
        -webkit-transition: right 0.5s ease;
    }

    .nav {
        display: block;
    }

    .nav ul {
        display: grid;
        width: 100%;
        min-height: 77vh;
        place-items: center;
        grid-gap: 0rem;
        position: absolute;
        right: 100%;
        top: 7rem;
        background-color: #ffffff;
        transition: right 1s ease;
        -webkit-transition: right 0.5s ease;
        padding: 1rem 0 2rem;
    }

    .nav__toggle {
        width: 100%;
        height: 74px;
        position: absolute;
        left: 1rem;
        top: 1.6rem;
        cursor: pointer;
        z-index: 1002;
        padding: 0.5rem 0.5rem 0rem 0.6rem;
        border-radius: 0 0 0 6px;
    }

    .nav__toggle>* {
        border-bottom: 4px solid #333333;
        position: absolute;
        width: 50px;
        padding-top: 17px;
        margin-left: 3px;
        transition: all 500ms ease;
    }

    .nav__toggle__line:first-child {
        top: 0px;
    }

    .nav__toggle__line:nth-child(2) {
        top: 20px;
    }

    .nav__toggle__line:nth-child(3) {
        top: 40px;
    }

    .top__line {
        transform: rotate(-225deg);
        top: 36px !important;
        left: 17px;
    }

    .middle__line {
        display: none;
    }

    .bottom__line {
        transform: rotate(45deg);
        top: 24px !important;
        left: 16px;
    }
}

@media only screen and (max-width: 1000px) and (max-height: 700px) {
    .nav ul {
        min-height: 72vh;
    }
}

@media (max-height: 550px) {
    .nav ul {
        min-height: 65vh;
    }
}

@media (max-height: 450px) {
    .nav ul {
        min-height: 50vh;
        grid-template-columns: 1fr 1fr;
    }
}